@charset "ISO-8859-1";

@font-face {
  font-family: ethnocentric;
  src: url(fonts/ethnocentric.ttf);
}

html * {
   font-family: ethnocentric;
   color: black;
}

body {
	background-image: url(img/wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.icona-home {
	width: 50px;
	height 50px;
	margin: 1%;
}

.icona-user {
	width: 50px;
	height 50px;
	margin: 1%;
}

.icona-cart {
	width: 50px;
	height 50px;
	margin: 1%;
}

.navbar .navbar-nav>li>a {
	font-size: 18px;
	margin-top: 10px; 
	color: #ff8d00;
}


.jumbotron {
	text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ff9800c4;
}

.img-carousel {
	margin: auto;
	width: 60%;
}

.carousel-indicators li {
	width: 15px;
	heigth: 15px;
	margin 1px;
}

p>a {
	text-decoration: underline;
	cursor: pointer;
}

td>img {
	width: 25px;
}

.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-control {
	z-index: 2;
}

.table {
	background-color: #ff9800c4;
}

.table td {
    padding-top: 12px;
}

.form-prenotazione {
	margin-top: 5%;
	background-color: #ff9800c4;
	padding-top: 10px;
	padding-bottom: 10px;
}

.page-header{
	margin-top: 5%;
	background-color: #ff9800c4;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
}

.container-registrazione {
	margin-top: 5%;
	background-color: #ff9800c4;
	padding-top: 10px;
	padding-bottom: 60px;
	border-bottom-width: 0px;
}