<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Shop</display-name>
 
 <!-- REGISTRAZIONE -->
  <servlet>
  <servlet-name>Registrazione</servlet-name>
  <servlet-class>it.accenture.controller.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Registrazione</servlet-name>
  <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  
  <!-- LOGIN -->
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>it.accenture.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   <!-- LOGOUT -->
  <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>it.accenture.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  

    <!-- LISTA ACQUISTI -->
  <servlet>
  <servlet-name>ListaAcquisti</servlet-name>
  <servlet-class>it.accenture.controller.ListaAcquisti</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListaAcquisti</servlet-name>
  <url-pattern>/ListaAcquisti</url-pattern>
	</servlet-mapping>

     <!-- LISTA PRODOTTI -->
  <servlet>
  <servlet-name>ListaProdotti</servlet-name>
  <servlet-class>it.accenture.controller.ListaProdotti</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListaProdotti</servlet-name>
  <url-pattern>/ListaProdotti</url-pattern>
  </servlet-mapping>
  
  <!-- ACQUISTA -->
  <servlet>
  <servlet-name>Acquista</servlet-name>
  <servlet-class>it.accenture.controller.Acquista</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Acquista</servlet-name>
  <url-pattern>/Acquista</url-pattern>
  </servlet-mapping>


   <!-- LISTA ORDINI -->
  <servlet>
  <servlet-name>ListaOrdini</servlet-name>
  <servlet-class>it.accenture.controller.ListaOrdini</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListaOrdini</servlet-name>
  <url-pattern>/ListaOrdini</url-pattern>
  </servlet-mapping>


  <!-- LISTA PRODOTTI IN OFFERTA -->
  <servlet>
  <servlet-name>ListaProdottiInOfferta</servlet-name>
  <servlet-class>it.accenture.controller.ListaProdottiInOfferta</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListaProdottiInOfferta</servlet-name>
  <url-pattern>/ListaProdottiInOfferta</url-pattern>
  </servlet-mapping>
  
    <!-- LISTA PRODOTTI PER CATEGORIA -->
  <servlet>
  <servlet-name>ListaProdottiPerCategoria</servlet-name>
  <servlet-class>it.accenture.controller.ListaProdottiPerCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListaProdottiPerCategoria</servlet-name>
  <url-pattern>/ListaProdottiPerCategoria</url-pattern>
  </servlet-mapping>


   <!-- PROFILO UTENTE -->
  <servlet>
  <servlet-name>ProfiloUtente</servlet-name>
  <servlet-class>it.accenture.controller.ProfiloUtente</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProfiloUtente</servlet-name>
  <url-pattern>/ProfiloUtente</url-pattern>
  </servlet-mapping>

</web-app>